* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font15: 0.9375rem;
  --font35: 2,1875rem;

  --width1200: 1200px;

  --color-primary: #f1cdb3;
  --color-light-l: #cdcdcd;
  --color-light-xl: #ffffff;
}  
/* ------------------------------------ header --------------------------------------*/
header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.wrapper {
  max-width: var(--width1200);
  width: 100%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}

.content {
  max-width: var(--width1200);
  width: 100%;
  margin: 0 auto;
}

.logo-title {
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--font35);
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-primary);
}
.logo-subtitle {
  font-family: Arial;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--font15);
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--color-light-xl);
  text-align: center;
  margin-top: 0.625rem;
}

.navigation {
  width: 36.92%;
  min-width: 21.25rem;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.list {
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-light-l);
  text-decoration: none;
}

.list-current {
  color: #fafafa;
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--color-primary);
}
/* ------------------------------------ section hero -----------------------------------*/
.hero {
  padding-top: 11.25rem;
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.section-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38.3%;
  height: 20.0625rem;
  margin-bottom: 4.625rem;
}
.hero-content-title {
  width: 67.39%;
  font-family: Georgia;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5625rem;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-light-xl);
}
.hero-content-text {
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-light-l);
}
.hero-btn {
  color: #292929;
  background-color: var(--color-primary);
  width: 12.9375rem;
  height: 3.25rem;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-img {
  width: 58.17%;
}
