* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  font-size: 10px;

  --font15: 1.5rem;
  --font35: 3.5rem;
  --font17: 1.7rem;

  --letter-spacing: 0.06em;
  --line-height: 2.4rem;

  --width1200: 120rem;
  --width708: 708px;
  --width300: 300px;

  --margin-top: 8rem;
  --margin-top-p: 18rem;
  --margin-bottom: 10rem;
  --padding42: 4.2rem;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-l: #cdcdcd;
  --color-light-xl: #ffffff;
  --color-light-l2: #f6f6f6;
  --color-light: #FAFAFA;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-xl2: #292929;
  --color-dark-m: #b2b2b2;
}
@media (min-width: 1280px) {
  h3 {
    font-size: var(--font35);
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  h3 {
    font-size: var(--font35);
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.btn {
  font-family: Georgia;
  font-size: var(--font17);
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: var(--letter-spacing);
  border: none;
  border-radius: 10rem;
  color: var(--color-dark-xl2);
  background-color: var(--color-primary);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.btn:active {
  border: none;
}

@media (min-width: 1280px) {
  .content {
    max-width: var(--width1200);
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .content {
    max-width: var(--width708);
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .content {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}

/* ------------------------------------ header --------------------------------------*/
header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: var(--width1200);
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .navigation {
    width: 36.92%;
    min-width: 44rem;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    max-width: var(--width708);
    width: 100%;
    margin: 0 auto;
    height: 6rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .navigation {
    width: 36.92%;
    min-width: 44rem;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    max-width: var(--width300);
    width: 100%;
    margin: 0 auto;
    height: 6rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
  }
  .navigation,
  .menu {
    display: none;
  }

  .burger {
    margin-top: 0.5rem;
    margin-right: 4.3rem;
  }
}

.logo-title h1 {
  font-family: Georgia;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--font35);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  color: var(--color-primary);
}
.logo-subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--font15);
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--color-light-xl);
  text-align: center;
  margin-top: 1rem;
}

.list {
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-light-l);
  text-decoration: none;
}

.list-current {
  color: #fafafa;
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--color-primary);
}

.list:hover, .list-current:hover{
  color: var(--color-primary);
}
.m-item:hover{
  transform: scale(1.1);
}
/* ------------------------------------ section hero -----------------------------------*/

@media (min-width: 1280px) {
  .hero {
    padding-top: 18rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  }
  .section-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38.3%;
    height: 32.1rem;
    margin-bottom: 7.4rem;
  }
  .hero-content-title {
    width: 67.39%;
    font-family: Georgia;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.7rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-xl);
  }
  .hero-content-text {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-light-l);
  }
  .hero-img {
    width: 58.17%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    padding-top: 15rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  }
  .section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 32.2rem;
    margin-bottom: 7.4rem;
  }
  .hero-btn {
    align-self: center;
  }
  .hero-content-title {
    width: 67.39%;
    font-family: Georgia;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.7rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-xl);
  }
  .hero-content-text {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-light-l);
  }
  .hero-img {
    width: 80.37%;
    align-self: flex-end;
    margin-top: 2.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding-top: 15rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  }
  .section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 67.3rem;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 29.6rem;
  }
  .hero-btn {
    align-self: center;
  }
  .hero-content-title {
    width: 67.39%;
    font-family: Georgia;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-light-xl);
  }
  .hero-content-text {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-light-l);
  }
  .hero-img {
    width: 86.7%;
    align-self: flex-end;
    margin-top: 2.6rem;
  }
}

.hero-btn {
  width: 20.7rem;
  height: 5.2rem;
  text-align: center;
}

/* ------------------------------------ section about -----------------------------------*/
@media (min-width: 1280px) {
  .section-about {
    height: 40.8rem;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .about-pets-img {
    width: 35.4rem;
    padding-left: 5.4rem;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    width: 48.4rem;
    padding-right: 5.4rem;
    height: 38rem;
    justify-content: space-between;
  }
  .about-text-title {
    text-align: left;
    width: 86%;
    height: 9rem;
  }
  .about-text-p {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-xl);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section-about {
    height: 86.8rem;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about-pets-img {
    width: 30rem;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    width: 43rem;
    height: 38rem;
    justify-content: space-between;
  }
  .about-text-title {
    text-align: left;
    width: 86%;
    height: 9rem;
  }
  .about-text-p {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-xl);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-about {
    height: 89rem;
    margin-top: var(--padding42);
    margin-bottom: var(--padding42);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about-pets-img {
    width: 26rem;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 49.4rem;
    justify-content: space-between;
    align-items: center;
  }
  .about-text-title {
    text-align: center;
    width: 80%;
    height: 6.4rem;
  }
  .about-text-p {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: justify;
    color: var(--color-dark-xl);
  }
}

/* ------------------------------------ section pets -----------------------------------*/
@media (min-width: 1280px) {
  .pets {
    background-color: var(--color-light-l2);
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }
  .pets-content {
    height: 69.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .pets-heading {
    height: 9rem;
    max-width: 33.33%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark-xl);
  }
  .pets-slider {
    max-height: 43.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sldcnt{
    width: 99rem;
  }
  .pets-slider-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99rem;
  }

  
  #arrow320 {
    display: none;
  }
  .card-img {
    min-height: 55.17%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets {
    background-color: var(--color-light-l2);
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }
  .pets-content {
    height: 69.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pets-heading {
    height: 9rem;
    max-width: 56.5%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark-xl);
  }
  .pets-slider {
    max-height: 43.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pets-slider-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 58rem;
  }
  #woody {
    display: none;
  }
  #arrow320 {
    display: none;
  }
  .card-img {
    min-height: 55.17%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets {
    background-color: var(--color-light-l2);
    padding-top: var(--padding42);
    padding-bottom: var(--padding42);
  }
  .pets-content {
    height: 70.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .pets-heading {
    height: 6.4rem;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark-xl);
  }
  .pets-slider {
    height: 50.7rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .pets-slider-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .arrow768 {
    display: none;
  }

  #arrow320 {
    width: 68%;
    height: 5.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card h4 {
    font-size: 2rem;
  }
  .card-img {
    min-height: 55.17%;
  }
}

.slide-right {
  animation: 0.8s slidein;
}
.slide-left {
  animation: 0.8s slideinl;
}


@keyframes slidein {
  from {
    transform: translateX(100%);
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinl {
  from {
    transform: translateX(-100%);
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.pets-button {
  height: 5.2rem;
  width: 26.1rem;
  margin: 0 auto;
}
.pets-btn {
  width: 100%;
  height: 100%;
}

.arrow {
  width: 5.2rem;
  height: 5.2rem;
  border: solid 2px var(--color-primary);
  border-radius: 10rem;
  background-color: var(--color-light-xl);
}
.arrow-img {
  transform: translateY(0.17rem);
}
.arrow:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}
#right {
  transform: translateY(0.17rem) rotate(180deg);
}

.card {
  width: 27rem;
  height: 43.5rem;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark-l);
  border-radius: 0.9rem;
  padding-bottom: 2rem;
}
.card:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.card-btn {
  width: 18.7rem;
  height: 5.2rem;
  border: solid 2px var(--color-primary);
  border-radius: 10rem;
  background-color: var(--color-light-xl);

  font-family: Georgia;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
}
.card-btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border: none;
}

/* ------------------------------------ section help -----------------------------------*/
@media (min-width: 1280px) {
  .help {
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }

  .help-heading {
    height: 9rem;
    text-align: center;
  }
  .help-list {
    width: 86%;
    height: 28.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
    column-gap: 12rem;
    row-gap: 5.2rem;
  }

  .help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 43.1rem;
  }

  .list-item {
    height: 11.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark-l);
  }
  .item-img {
    max-height: 6rem;
    max-width: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .help {
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }

  .help-heading {
    height: 9rem;
    text-align: center;
  }
  .help-list {
    width: 89%;
    height: 44.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0.95%;
    row-gap: 5.2rem;
  }

  .help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 59.9rem;
  }
  .list-item {
    height: 11.3rem;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark-l);
  }
  .item-img {
    max-height: 6rem;
    max-width: 6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .help {
    padding-top: var(--padding42);
    padding-bottom: var(--padding42);
  }
  .help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 66.1rem;
  }

  .help-heading {
    height: 6.4rem;
    text-align: center;
  }
  .help-list {
    width: 97%;
    height: 55.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 11.1%;
    row-gap: 3rem;
  }

  .list-item {
    height: 8.7rem;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark-l);
  }
  .item-img {
    max-height: 5rem;
    max-width: 5rem;
  }
}

/* ------------------------------------ section donation -----------------------------------*/
@media (min-width: 1280px) {
  .donation {
    background-color: var(--color-light-l2);
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }
  .donation-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }
  .donation-dog {
    height: 26.1rem;
  }
  .donation-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38rem;
    height: 28.4rem;
  }
  .donation-information h3 {
    max-width: 79%;
  }

  .credit-card {
    height: 4.3rem;
    width: 34.9rem;
    border-radius: 0.9rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .credit-number {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .inf-subh {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font15);
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .legal-info {
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-m);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .donation {
    background-color: var(--color-light-l2);
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }
  .donation-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }
  .donation-dog {
    margin-top: 5.8rem;
    height: 26.1rem;
  }
  .donation-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38rem;
    height: 28.4rem;
  }
  .donation-information h3 {
    max-width: 79%;
  }

  .credit-card {
    height: 4.3rem;
    width: 34.9rem;
    border-radius: 0.9rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .credit-number {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .inf-subh {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font15);
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .legal-info {
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-m);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .donation {
    background-color: var(--color-light-l2);
    padding-top: var(--padding42);
    padding-bottom: var(--padding42);
  }
  .donation-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }
  .donation-dog {
    margin-top: 4.2rem;
    height: 13.52rem;
  }
  .donation-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 28.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .donation-information h3 {
    max-width: 75%;
    text-align: center;
  }

  .credit-card {
    height: 4.3rem;
    width: 28.1rem;
    border-radius: 0.9rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .credit-number {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font15);
    line-height: 11%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .inf-subh {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font15);
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--color-dark-l);
  }
  .legal-info {
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0px;
    text-align: justify;
    color: var(--color-dark-m);
  }
}

.credit-card:hover {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.credit-img {
  max-width: 3rem;
}
.crdtnmbr {
  text-decoration: none;
  display: block;
  color: var(--color-dark-l);
}

/* ------------------------------------ footer -----------------------------------*/
@media (min-width: 1280px) {
  footer {
    height: 35.5rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .footer-content h3 {
    color: var(--color-light-xl);
  }
  .contacts {
    width: 27.9rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .location {
    width: 30.2rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.3rem);
  }
  .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.4rem);
  }
  .ftr-puppy {
    align-self: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  footer {
    height: 63.9rem;
    padding-top: 1rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe center;
    column-gap: 8.5%;
    align-items: center;
    height: 100%;
  }
  .footer-content h3 {
    color: var(--color-light-xl);
  }
  .contacts {
    width: 27.9rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .location {
    width: 30.2rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.3rem);
  }
  .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.4rem);
  }
  .ftr-puppy {
    align-self: flex-end;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  footer {
    height: 80.9rem;
    padding-top: 3rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe center;
    column-gap: 8.5%;
    row-gap: 4rem;
    align-items: center;
    height: 100%;
  }
  .footer-content h3 {
    color: var(--color-light-xl);
    text-align: center;
  }
  .contacts {
    width: 99%;
    height: 20.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .location {
    width: 100%;
    height: 22.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .location h3 {
    max-width: 90%;
    align-self: center;
  }
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.3rem);
  }
  .loc h4,
  .phone h4,
  .mail h4 {
    font-size: 2rem;
    line-height: 115%;
  }
  .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.4rem);
  }
  .ftr-puppy {
    align-self: flex-end;
    max-height: 26.9rem;
  }
}

.contacts h4 {
  color: var(--color-primary);
}
.mail img {
  max-width: 4rem;
  margin-right: 2rem;
}
.phone img {
  max-width: 4rem;
  margin-right: 2rem;
}

.location h4 {
  color: var(--color-primary);
  text-align: left;
}
.loc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-content a {
  text-decoration: none;
  color: var(--color-primary);
}
.footer-content a:hover {
  color: var(--color-primary-light);
  transform: scale(1.05);
}
.pin {
  max-height: 3.2rem;
  margin-right: 2rem;
}

