* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  :root {
    font-size: 10px;
  
    --font15: 1.5rem;
    --font35: 3.5rem;
    --font17: 1.7rem;
  
    --letter-spacing: 0.06em;
    --line-height: 2.4rem;
  
    --width1200: 120rem;
    --margin-top: 8rem;
    --margin-top-p: 18rem;
    --margin-bottom: 10rem;
  
    --color-primary: #f1cdb3;
    --color-primary-light: #FDDCC4;
    --color-light-l: #cdcdcd;
    --color-light-xl: #ffffff;
    --color-light-l2: #f6f6f6;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-xl2: #292929;
    --color-dark-m: #b2b2b2;
  }
  
  h3 {
    font-size: var(--font35);
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
  
  .btn {
    font-family: Georgia;
    font-size: var(--font17);
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: var(--letter-spacing);
    border: none;
    border-radius: 10rem;
    color: var(--color-dark-xl2);
    background-color: var(--color-primary);
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
  }
  .btn:active{
    border: none;
  }
  
  .content {
    max-width: var(--width1200);
    width: 100%;
    margin: 0 auto;
  }
/* ------------------------------------ header --------------------------------------*/
header {
    width: 100%;
    margin: 0 auto;
    position: absolute;
  }
  
  .wrapper {
    max-width: var(--width1200);
    width: 100%;
    margin: 0 auto;
    height: 6rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-title h1 {
    font-family: Georgia;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--font35);
    letter-spacing: var(--letter-spacing);
    text-align: left;
    color: var(--color-dark-l);
  }
  .logo-subtitle {
    font-family: Arial;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: var(--font15);
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-dark-xl2);
    text-align: center;
    margin-top: 1rem;
  }
  
  .navigation {
    width: 36.92%;
    min-width: 34rem;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
  
  .list {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-l);
    text-decoration: none;
  }
  
  .list-current {
    color: var(--color-dark-xl2);
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--color-primary);
  }  