* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
:root {
  font-size: 10px;

  --font15: 1.5rem;
  --font35: 3.5rem;
  --font17: 1.7rem;

  --letter-spacing: 0.06em;
  --line-height: 2.4rem;

  --width1200: 120rem;
  --width708: 708px;
  --width300: 300px;
  --padding42: 4.2rem;

  --width1200: 120rem;
  --margin-top: 8rem;
  --margin-top-p: 18rem;
  --margin-bottom: 10rem;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-l: #cdcdcd;
  --color-light-xl: #ffffff;
  --color-light: #FAFAFA;
  --color-light-l2: #f6f6f6;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-xl2: #292929;
  --color-dark-m: #b2b2b2;
}
main{
    overflow: hidden;
}
.arrow {
    width: 5.2rem;
    height: 5.2rem;
    border: solid 2px var(--color-primary);
    border-radius: 10rem;
    background-color: var(--color-light-xl);
  }
  .arrow-img {
    transform: translateY(0.17rem);
  }
  .arrow:hover {
    cursor: pointer;
    background-color: var(--color-primary);
  }

@media (min-width: 1280px) {
  h3 {
    font-size: var(--font35);
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  h3 {
    font-size: var(--font35);
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: var(--letter-spacing);
  }
  h4 {
    font-family: Georgia;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.btn {
  font-family: Georgia;
  font-size: var(--font17);
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: var(--letter-spacing);
  border: none;
  border-radius: 10rem;
  color: var(--color-dark-xl2);
  background-color: var(--color-primary);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.btn:active {
  border: none;
}

@media (min-width: 1280px) {
  .content {
    max-width: var(--width1200);
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .content {
    max-width: var(--width708);
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .content {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}
/* ------------------------------------ header --------------------------------------*/
header {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255, 0.8);
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: var(--width1200);
    width: 100%;
    margin: 0 auto;
    height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .navigation {
    width: 36.92%;
    min-width: 44rem;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    max-width: var(--width708);
    width: 100%;
    margin: 0 auto;
    height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .navigation {
    width: 36.92%;
    min-width: 44rem;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    max-width: var(--width300);
    width: 100%;
    margin: 0 auto;
    height: 6rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
  }
  .navigation,
  .menu {
    display: none;
  }

  .burger {
    margin-top: 0.5rem;
    margin-right: 4.3rem;
  }
}

.logo-title h1 {
  font-family: Georgia;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--font35);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  color: var(--color-dark-l);
}
.logo-subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--font15);
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--color-dark-xl2);
  text-align: center;
  margin-top: 1rem;
}
.logo a{
    text-decoration: none;
    color: var(--color-dark-xl2);
}
.list {
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-dark-l);
  text-decoration: none;
}
.listn {
    font-family: Arial;
    font-size: var(--font15);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-l);
    text-decoration: none;
  }

.list-current {
  color: var(--color-dark-xl2);
  font-family: Arial;
  font-size: var(--font15);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--color-primary);
}

.list:hover, .list-current:hover{
    color: #000;
  }
  .m-item:hover{
    transform: scale(1.1);
  }

/* ------------------------------------ main --------------------------------------*/
@media (min-width: 1280px) {
  main {
    background-color: var(--color-light-l2);
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-bottom);
  }

  .pets {
    height: 116.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .pets-heading {
    height: 9rem;
    max-width: 33.33%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark-xl);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  main {
    background-color: var(--color-light-l2);
    padding-top: 8rem;
    padding-bottom: 7.6rem;
  }
  .pets {
    height: 157.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .pets-heading {
    height: 9rem;
    max-width: 56.5%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark-xl);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  main {
    background-color: var(--color-light-l2);
    padding-top: var(--padding42);
    padding-bottom: var(--padding42);
  }
  .pets {
    height: 156.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .pets-heading {
    height: 6.4rem;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark-xl);
  }
}

/* ------------------------------------------------------------------------ */
@media (min-width: 1280px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3rem;
    height: 136.5rem;
  }
  .none768 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3rem;
    height: 136.5rem;
  }
  .card h4 {
    font-size: 2rem;
    line-height: 2.272rem;
  }
  .none320,
  .none768 {
    display: none;
  }
}

.card {
  width: 27rem;
  height: 43.5rem;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark-l);
  border-radius: 0.9rem;
  padding-bottom: 2rem;
}
.card:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);;
}
.card:hover .card-btn{
    background-color: var(--color-primary-light);
}

.card-img {
  min-height: 55.17%;
  /* margin-bottom: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-right {
    animation: 0.8s slidein;
  }
  .slide-left {
    animation: 0.8s slideinl;
  }
  
  
  @keyframes slidein {
    from {
      transform: translateX(100%);
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @keyframes slideinl {
    from {
      transform: translateX(-100%);
      width: 300%; 
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

.card-btn {
  /* margin-top: 3rem; */
  width: 18.7rem;
  height: 5.2rem;
  border: solid 2px var(--color-primary);
  border-radius: 10rem;
  background-color: var(--color-light-xl);

  font-family: Georgia;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
}
.card-btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border: none;
}

/* ----------------------------------- */
@media (min-width: 1280px) {
  .pets-navigation {
    width: 34rem;
    height: 5.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-navigation {
    width: 34rem;
    height: 5.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-navigation {
    width: 30rem;
    height: 5.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.pag {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 10rem;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  text-align: center;
  border: solid 2px;
}
.current {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.active{
 background-color: var(--color-light-xl);
 color: var(--color-dark-xl2);
 border-color: var(--color-primary);
}
.inactive {
  pointer-events: none;
  color: var(--color-light-l);
  border-color: var(--color-light-l);
    background: none;
}
.pag:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

/* ------------------------------------ footer -----------------------------------*/
@media (min-width: 1280px) {
  footer {
    height: 35.5rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .footer-content h3 {
    color: var(--color-light-xl);
  }
  .contacts {
    width: 27.9rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .location {
    width: 30.2rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.3rem);
  }
  .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.4rem);
  }
  .ftr-puppy {
    align-self: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  footer {
    height: 63.9rem;
    padding-top: 1rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe center;
    column-gap: 8.5%;
    align-items: center;
    height: 100%;
  }
  .footer-content h3 {
    color: var(--color-light-xl);
  }
  .contacts {
    width: 27.9rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .location {
    width: 30.2rem;
    height: 23.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.3rem);
  }
  .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.4rem);
  }
  .ftr-puppy {
    align-self: flex-end;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  footer {
    height: 80.9rem;
    padding-top: 3rem;
    background: url(../../assets/images/noise_transparent@2x.png),
      radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe center;
    column-gap: 8.5%;
    row-gap: 4rem;
    align-items: center;
    height: 100%;
  }
  .footer-content h3 {
    color: var(--color-light-xl);
    text-align: center;
  }
  .contacts {
    width: 99%;
    height: 20.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .location {
    width: 100%;
    height: 22.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .location h3 {
    max-width: 90%;
    align-self: center;
  }
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.3rem);
  }
  .loc h4,
  .phone h4,
  .mail h4 {
    font-size: 2rem;
    line-height: 115%;
  }
  .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0.4rem);
  }
  .ftr-puppy {
    align-self: flex-end;
    max-height: 26.9rem;
  }
}

.contacts h4 {
  color: var(--color-primary);
}

.mail img {
  max-width: 4rem;
  margin-right: 2rem;
}
.phone img {
  max-width: 4rem;
  margin-right: 2rem;
}

.location h4 {
  color: var(--color-primary);
  text-align: left;
}
.loc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-content a {
  text-decoration: none;
  color: var(--color-primary);
}
.footer-content a:hover {
  color: var(--color-primary-light);
  transform: scale(1.05);
}
.pin {
  max-height: 3.2rem;
  margin-right: 2rem;
}
